<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Apple macOS version 5.6.0">
  <title></title>
</head>
<body>
  html { font-family: Lato; } body { margin: 0; } html {
  font-family: Lato; } body { margin: 0; } .page-header { height:
  70px; display: -webkit-box; display: -webkit-flex; display:
  -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align:
  center; -webkit-align-items: center; -moz-box-align: center;
  -ms-flex-align: center; align-items: center; background-color:
  #efefef; padding: 0 4em; } .page-container { } .section-wrapper {
  max-width: 1240px; padding: 0 20px; margin: 5em auto; }
  .section-header { color: #35844d; text-align: center; margin: 0 0
  3em 0; } .virtual-meetings { max-width: 100%; height: 20em;
  display: -webkit-box; display: -webkit-flex; display: -moz-box;
  display: -ms-flexbox; display: flex; -webkit-box-orient:
  vertical; -webkit-box-direction: normal; -webkit-flex-direction:
  column; -moz-box-orient: vertical; -moz-box-direction: normal;
  -ms-flex-direction: column; flex-direction: column;
  -webkit-box-pack: center; -webkit-justify-content: center;
  -moz-box-pack: center; -ms-flex-pack: center; justify-content:
  center; background-color: #79c4a4; margin-top: 0; color: #fff;
  text-align: center; } .meeting-tile-wrapper { display: -ms-grid;
  display: grid; grid-template-columns: repeat(auto-fill, 150px);
  -ms-grid-rows: auto; grid-template-rows: auto; grid-gap: 20px;
  -webkit-box-pack: center; -webkit-justify-content: center;
  -moz-box-pack: center; -ms-flex-pack: center; justify-content:
  center; } .meeting-tile { position: relative; display: block;
  text-align: center; text-decoration: none; color: #5f6063; }
  .meeting-tile:hover { -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; color: #35844d; }
</body>
</html>
