
body {
  height: 100vh;
  margin: 0;
  font-family: 'Source Sans Pro';
}

.fcbc__arch-1 {
  position: fixed;
  width: 35%;
  max-width: 540px;
  top: 0;
  left: 0;
}

.fcbc__arch-2 {
  position: fixed;
  width:30%;
  max-width: 500px;
  bottom: 0;
  right: 0;
}

.fcbc__reading-well {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  text-align: center;
}

.fcbc__main-content {
  width: 420px;
}

.fcbc__heading {
  font-size: 18px;
  margin-top: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.fcbc__congregation-container {
  margin: 54px auto;
  display: flex;
  justify-content: space-between;
}

.fcbc__congregation-link {
  display: inline-block;
  padding: 16px 24px;
  border: 3px solid #1627a7;
  text-decoration: none;
  color: #1627a7;
}

.fcbc__virtual-campus {
  color: #000
}

.fcbc__hr {
  width: 160px;
  margin: 60px auto;
}

.fcbc__services {
  margin: .25em 0;
}

.fcbc__footer {
  position: fixed;
  bottom: 64px;
  font-size: 14px;
}

.fcbc__footer {
  text-decoration: none
}

.fcbc__footer a {
  color: #000;
}

@media (max-width: 1280px) {
  .fcbc__arch-2 {
    display: none;
  }
}

@media (max-width: 967px) {
  .fcbc__arch-1 {
    width: 75%;
    max-width: none;
    top: 0;
    left: -35%;
  }
}

@media (max-width: 480px) {
  .fcbc__arch-1 {
    width: 100%;
    max-width: none;
    top: -5%;
    left: -55%;
  }

  .fcbc__congregation-container {
    flex-direction: column;
    align-items: center
  }

  .fcbc__congregation-link {
    border-width: 2px;
    width: 80px;
  }

  .fcbc__congregation-link + .fcbc__congregation-link {
    margin-top: 1.5em;
  }

  .fcbc__footer {
    bottom: 16px;
  }
}
